{% extends "index.html" %}
{% block title %}Recipes{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <h1>Our Recipes</h1>
  </div>
  <div class="row" style="display: flex; flex-direction: row; flex-wrap: wrap">
    {% for recipe in recipes %}
    <div style="padding: 10px;">
      <figure >
       <img 
        {% if recipe.image != ""%}
          src="{{recipe.image}}"
        {% else %}
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/488px-No-Image-Placeholder.svg.png"
        {% endif %} 
        class="img-fluid"  alt="Responsive Image" 
        width="307" height="240" /> 
        <figcaption><h4><a href="/{{recipe.user}}/recipe/{{recipe.name}}">{{recipe.name}}</a> by <a href="/{{recipe.user}}/myprofile">{{recipe.user}}</a></h4></figcaption>
      </figure>
    </div>
    
    {% endfor %}
  </div>
</div>

{% endblock %}