{% extends "index.html" %}
{% block css %}
  <style>
    label {
      color: white;
      font-size: 20px;
    }
    h2, label{font-family: 'Barlow Condensed', sans-serif;}
    th {
      color: white;
      font-size: 20px;
      
    }
  </style>
{% endblock css %}
{% block title %} Edit recipe {% endblock%}
{% block content %}
<h3>Edit your recipe</h3>
<form action="{% url 'web:edit_recipe_post' user.username recipe.name %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <input name="username" value="{{user.username}}" hidden/>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="recipeName">Name</label>
        <input required type="text" value="{{recipe.name}}" class="form-control" id="recipeName" placeholder="Name" name="recipename">
      </div>
      <div class="form-group col-md-6">
        <label for="recipeLevel">Level</label>
        <select id="recipeLevel" value="{{recipe.difficulty}}" class="form-control" name="difficulty">
          <option value="{{recipe.difficulty}}"  selected>{{recipe.difficulty}}</option>
          <option value="None" >Anyone can do it</option>
          <option value="Easy" >Beginner</option>
          <option value="Intermediate" >Intermediate</option>
          <option value="Difficult" >Difficult</option>
          <option value="Professional" >Professional</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="recipeTags">Tags</label>
      <input type="text" class="form-control" id="recipeTags" name="tags" value="{{recipe.tags}}"
        placeholder="Enter your tags separated by commas. Example: 'chocolate, birthday cake, frosting' ">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Description (Optional) </label>
      <input type="text" class="form-control" id="inputAddress2" name="description" value="{{recipe.description}}"
        placeholder="Write something about the dish, history etc.">
    </div>
    <div class="form-group">
      <label for="inputAddress3">Preparation Time</label>
      <input type="text" value="{{recipe.preparationtime}}" class="form-control" id="inputAddress3" name="preparationtime"
        placeholder="Preparation Time">
    </div>
    <div class="form-group">
      <label for="inputAddress4">Cooking Time</label>
      <input type="text" value="{{recipe.cookingtime}}" class="form-control" id="inputAddress4" name="cookingtime"
        placeholder="Time Required to Cook">
    </div>
    <div class="form-group">
      <label for="inputAddress5">Image</label>
      <input type="url" alt="here goes picture" placeholder="Enter the URL of the image" class="form-control" id="inputAddress5" name="image" pattern="https://.*">
    </div>
  
    
    <div class="input-group mb-3">
      <label for="ingredientsNumber">do you want to add more ingredients?</label>
      <input type="number" class="form-control" id="ingredientsNumber" value="{{recipe.ingredients_set.all|length }}">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" onclick="ingredients()">Add the ingredients</button>
      </div>
    </div>
    
    <div class="form-inline">
      <div class="form-group col-md-6">
        <div id="ingredientsTable">
            <table>
                <thead>
                  <tr>
                    <th scope="col">Amount</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Ingredient</th>
                  </tr>
                </thead>
                <tbody id="ingredientsBody">
                    {% for Ingredients in recipe.ingredients_set.all %}
                    <tr>
                        <td><label for="ingredientAmount"></label>
                        <input type="text" value="{{Ingredients.amount}}" class="form-control" id="ingredientAmount" name="ingredientamount[]"  placeholder="Amount for 4 People">
                      </td>
                      <td>
                        <label for="ingredientMeasurement"></label>
                        <select id="ingredientMeasurement" class="form-control" name="ingredientmeasurement[]" value="{{Ingredients.measurement}}">
                          <option value="{{Ingredients.measurement}}" selected>{{Ingredients.measurement}}</option>
                          <option value="g">g</option>
                          <option value="lb">lb</option>
                          <option value="oz">oz</option>
                          <option value="p">p</option>
                          <option value="c">c</option>
                          <option value="ml">ml</option>
                          <option value="tsp">tsp</option>
                          <option value="Tbsp">Tbsp</option>
                        </select>
                      </td>
                      <td><label for="ingredientName"></label>
                        <input type="text" class="form-control" id="ingredientName" placeholder="Leave Empty to Delete" name="ingredientname[]" value="{{Ingredients.name}}">
                      </td>
                    </tr>
                    
                    {% endfor %}
                </tbody>
              </table>
        </div>
        
  
      </div>
    </div>
    <div class="form-group">
      <label for="recipeDirections">Directions</label>
      <textarea class="form-control" value="{{recipe.instructions}}" name="instructions" id="recipeDirections" rows="3">{{recipe.instructions}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
  <script>
    function ingredients() {
      var val = document.getElementById("ingredientsNumber").value;
      if(val) {
        for(i=0;i<parseInt(val);i++){
        document.getElementById("ingredientsBody").innerHTML += 
        `<td><label for="ingredientAmount"></label>
          <input type="text" class="form-control" id="ingredientAmount" name="ingredientamount[]"  placeholder="Amount for 4 People">
        </td>
        <td>
          <label for="ingredientMeasurement"></label>
          <select id="ingredientMeasurement" class="form-control" name="ingredientmeasurement[]">
            <option selected>Choose...</option>
            <option value="g">g</option>
            <option value="lb">lb</option>
            <option value="oz">oz</option>
            <option value="p">p</option>
            <option value="c">c</option>
            <option value="ml">ml</option>
            <option value="tsp">tsp</option>
            <option value="Tbsp">Tbsp</option>
          </select>
        </td>
        <td><label for="ingredientName"></label>
          <input type="text" class="form-control" id="ingredientName"  name="ingredientname[]">
        </td>`
      }
              
      }
  } 
  </script>
{% endblock %}
