{% extends "index.html" %}
{% block title %} Invite Users {% endblock%}
{% block content %}
<h3>Invite Users/Friends!</h3>
<form action="{% url 'web:rate_post'%}" method="POST" enctype="multipart/form-data">{% csrf_token %}
  <input name="target" value="{{target}}" hidden/>
  <input name="meet" value="{{meet}}" hidden/>
  <input name="cuser" value="{{request.user}}" hidden/>
  <div class="row"> <!-- picture of recipe and details -->
        <div class="col">
            <h4>{{meet.name}} - Organized by <a href="{% url 'web:myprofile' meet.user %}">{{user.username}}</a> </h4>
        </div>
    </div>
  <div class="col-sm-12 col-md-4 ">
      <div class="card">
          <div class="card-body">
              <h5 class="card-title">Recommended Users:</h5>
            </div>
          {% for rateduser in givenscores %}
              <li class="list-group-item"><a>{{rateduser}} </a>
              <button type="submit" style="float:right" class="btn btn-primary"> Invite</button>
              </li>
            {% endfor %}
        </div>
  </div>
</form>
{% endblock %}
