{% extends "index.html" %}
{% block css %}
<style>
  h4{
    color: #F1B24A;
  }
  .card li {
    color: black !important;
  }
  .list-group-item > a{
    color: black !important;
    font-size: 20px;
  }
  label {
    color: white;
    font-size: 20px;
  }
</style>
{% endblock %}
{% block title %} Invite Users {% endblock%}
{% block search %}
<form  class="form-inline my-2 my-lg-0" class="text-right" method="POST" action="{% url 'web:meetinvite' meet.user meet.name %}" id="searchbar" > {% csrf_token %}
  <input class="form-control mr-sm-2" type="search" placeholder="Search for a specific user" aria-label="Search" name="searched">
  <button class="btn btn-outline-link my-2 my-sm-0" type="submit" style="background-color: white !important; color: black !important;">Search</button>
</form>
{% endblock %}
{% block content %}
<h3>Invite Users/Friends!</h3>
<div class="row"> <!-- picture of recipe and details -->
  <div class="col">
    <h3><a href="{% url 'web:meet' meet.user meet.name %}">{{meet.name}}</a> - Organized by <a href="{% url 'web:myprofile' meet.user %}">{{meet.user}}</a> </h3>
  </div>
</div>
<div class="row">
  {% if searched %}
    <div class="col-sm-12 col-md-4 ">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">User that you searched:</h4>
        </div>
        {% for search in searched_users %}
        <form method="POST" action="{% url 'web:meet' meet.user meet.name %}">{% csrf_token %}
          <input name="invited" value="{{search.username}}" hidden/> 
          <li class="list-group-item" style="color: black !important;"><a>{{search.username}} </a>
            <button type="submit" style="float:right" class="btn btn-primary"> Invite</button>
          </li>
        </form>
          
        {% endfor %}
             
      </div>
    </div>
  {% else %}
    <div class="col-sm-12 col-md-4 ">
      <div class="card">
        <div class="card-body">
          {% if givenscores|length > 0 %}
            <h4 class="card-title">Recommended Users according to ratings:</h4>
          {% else %}
            <h4 class="card-title">Recommended Users:</h4>
          {% endif %}
          
        </div>
        {% if givenscores|length > 0 %}
          {% for rateduser in givenscores %}
          <form method="POST" action="{% url 'web:meet' meet.user meet.name %}">{% csrf_token %}
            <input name="invited" value="{{rateduser.1}}" hidden/> 
            <li class="list-group-item" style="color: black !important;"><a>{{rateduser.1 }}, score {{rateduser.0}} </a>
              <button type="submit" style="float:right" class="btn btn-primary"> Invite</button>
            </li>
          </form>
          {% endfor %}
          
        {% else %}
          <h4>There are no recommendations according to ratings.</h4>
          
        {% endif %}
        
      </div>
    </div>
    <div class="col-sm-12 col-md-4 ">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">All Users from CookSpot:</h4>
        </div>
        {% for user in allusers%}
        <form method="POST" action="{% url 'web:meet' meet.user meet.name %}">{% csrf_token %}
          <input name="invited" value="{{user.username}}" hidden/> 
          <li class="list-group-item" style="color: black !important;"><a>{{user.username}} </a>
            <button type="submit" style="float:right" class="btn btn-primary"> Invite</button>
          </li>
        </form>
        {% endfor %}        
      </div>
    </div>
  {% endif %}
  
    
    
  </div>
  <!-- 
    <form id="myForm" action="{% url 'web:meet' meet.user meet.name %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
  <input name="target" value="{{target}}" hidden/>
  <input name="meet" value="{{meet}}" hidden/>
  <input name="cuser" value="{{request.user}}" hidden/>
</form>
  -->

{% if searched %}
<form  class="form-inline my-2 my-lg-0" class="text-right" action="{% url 'web:meetinvite' meet.user meet.name %}" id="goback" >
  <button class="btn btn-outline-link my-2 my-sm-0" type="submit" style="background-color: white !important; color: black !important;">Go back</button>
</form>   
{% endif %}
{% endblock %}
