{% extends "index.html" %}
{% block css %}{% endblock %}
{% block title %}{{user.username}} | Cookspot profile{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row" >
    <div class="cols-12 col-md-6 align-self-center" >
      <h1>Our M-eats</h1>
    </div>
    <div class="col-md-6">
      <form  class="form-inline" class="text-right" method="POST" name="meets" action="{% url 'web:search-meets' %}" id=searchbar>{% csrf_token %} 
        <input class="form-control mr-sm-2" type="search" placeholder="Search for m-eats" aria-label="Search" name="searched">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" style="background-color: white !important; color: black !important;" >Search</button> <!--onclick="document.meets.submit()"-->
      </form>
    </div>
  </div>
  <div style="display: flex; flex-direction: row; flex-wrap: wrap">
    {% for i in meets %}
    <div class="col-md-4">
        <div class="card" style="margin: 10px;">
            <div class="card-body">
                <h3 class="card-title"><a href="/{{i.user}}/meet/{{i.name}}/">{{i.name}}</a></h3><br>
                <h4>
                  {% if i.maximumparticipants %}
                    Max. {{i.maximumparticipants}} people.<br>
                    {{i.participating}} people have already accepted.
                  {% else %}
                    Unlimited amount of people.
                  {% endif %}
                </h4>
            </div>
          </div>
    </div>
    {% endfor %}
    </div>

{% endblock %}