{% extends "index.html" %}
{% block title %}{{user.username}} | Cookspot profile{% endblock %}
{% block content %}
    <div class="row">
    {% for i in meets %}
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ i.name }}</h5>
              </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="#">Meet 1</a></li>
            </ul>
          </div>
    </div>
    {% endfor %}
    </div>

{% endblock %}