{% extends "index.html" %}
{% block title %} Rate User {% endblock%}
{% block content %}
<h3>Rate the User!</h3>
<form action="{% url 'web:rate_post'%}" method="POST" enctype="multipart/form-data">{% csrf_token %}
  <input name="target" value="{{target}}" hidden/>
  <input name="meet" value="{{meet}}" hidden/>
  <input name="cuser" value="{{request.user}}" hidden/>
  <div class="row"> <!-- picture of recipe and details -->
        <div class="col">
            <h4>{{meet.name}} - Organized by <a href="{% url 'web:myprofile' meet.user %}">{{user.username}}</a> </h4>
        </div>
    </div>
  <div class="form-group col-md-6">
    <label for="ratings">What is your rating for <b>{{target}}</b>?</label>
    <select id="rating" class="form-control" name="rating">
      <option value="none" selected>Choose...</option>
      <option value="{{1}}" >{{1}}</option>
      <option value="{{2}}" >{{2}}</option>
      <option value="{{3}}" >{{3}}</option>
      <option value="{{4}}" >{{4}}</option>
      <option value="{{5}}" >{{5}}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Rate</button>
</form>
{% endblock %}
