{% extends "index.html" %}
{% block css %}
  <style>
    .card-body  {
        font-size: 1.2em;
        font-family: 'Quicksand', sans-serif;
    }
  </style>
{% endblock css %}
{% block title %} {{recipe.name}} {% endblock%}
{% block content %}
<div class="row ">
    <!-- Image & description -->
    <div class="col-md-4 cols-12 offset-md-1">
        <h2>{{recipe.name}} - <a href="{% url 'web:myprofile' recipe.user %}">{{user.username}}</a></h2>
        <h4 style="color: white;">{{recipe.description}}</h4>
        <div style="padding: 10px;">
            <figure >
             <img
              {% if recipe.image %}
                src="{{recipe.image}}"
              {% else %}
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/488px-No-Image-Placeholder.svg.png"
              {% endif %} 
              class="img-fluid"  alt="Responsive Image" 
              width="307" height="240" /> 
          </figure>
          </div>
    </div>
    <!-- Details -->
    <div class="col-md-4 cols-12 align-self-center offset-md-1">
        <h4 style="color: white;">Details</h4>
        <div class="card" style="background-color: #9DC88D; width: max-content;">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    Tags: {{recipe.tags}} <br>
                    Difficulty: {{recipe.difficulty}}<br>
                    Preparation Time: {{recipe.preparationtime}}<br>
                    Cooking time: {{recipe.cookingtime}}<br>
                </ul>
            </div>
        </div>
    </div>

</div>
<!-- instructions and ingredients-->
<div class="row">

    <div class="col-md-4 cols-12 offset-md-1">
        <h4>Ingredients</h4>
        <a href="{% url 'web:addtofav' id=recipe.id  ur='rec' %}">Add to Fav</a>
        <table class="table">
            <tbody style="color: white; font-size: 1.1em;"> 
              {% for Ingredients in recipe.ingredients_set.all %}
              <tr>
                  <td>{{Ingredients.name}}</td>
                  <td>{{Ingredients.amount}}</td>
              <td><input type="checkbox" name="checkbox" id="checkbox_id" value="value">
                  <label for="checkbox_id"></label>
                  </td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-4 cols-12 offset-md-1">
        <h4 style="color: white;">Instructions</h4>
        <div class="card" style="background-color: #9DC88D; width: auto;">
            <div class="card-body">
                <h4 class="card-title"></h4>
                <p> {{recipe.instructions}}</p>
            </div>
        </div>
       
        
    </div>

</div>


{% endblock %}