{% extends "index.html" %}

{% block content %}

{% if searched %}
    <h1>You searched for {{ searched }} </h1>
    {% if recipes|length == 0 %}
        <h3> Sorry, no recipes have the tag {{searched}}</h3>
    {% else %}
        <h3>Here are the recipes that contain {{ searched }} in their tags!</h3>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap">
        {% for recipe in recipes %}
                <div class="card" style="width: 18rem; margin: 10px">
                    <img src="{{ recipe.image }}" class="card-img-top" >
                        <div class="card-body">
                            <h5 class="card-title"><a href="/{{recipe.user}}/recipe/{{recipe.name}}">{{recipe.name}}</a> by <a href="/{{recipe.user}}/myprofile">{{recipe.user}}</a></h5>
                            <p class="card-text">{{recipe.description}}.</p>
                        </div>
                </div>
            {% endfor %}
    </div>
    {% endif %}

    {% if names|length == 0 %}
        <h3> Sorry, no recipes contain {{searched}} in their name</h3>
    {% else %}
        <h3>Here are the recipes that contain {{ searched }} in their name!</h3>  
        <div style="display: flex; flex-direction: row; flex-wrap: wrap">
            {% for name in names %}
                    <div class="card" style="width: 18rem; margin: 10px">
                        <img src="{{ name.image }}" class="card-img-top" >
                            <div class="card-body">
                                <h5 class="card-title"><a href="/{{name.user}}/recipe/{{name.name}}">{{name.name}}</a> by <a href="/{{name.user}}/myprofile">{{name.user}}</a></h5>
                                <p class="card-text">{{name.description}}.</p>
                            </div>
                    </div>
                {% endfor %}
        </div>
    {% endif %}
{% else %} 
        <h1> pls search something!</h1>
{% endif %}
{% endblock %}