{% extends "index.html" %}
{% block css %}
    <style>
        p{font-size: 20px;}
    </style>
{% endblock %}
{% block title %} {{meet.name}} {% endblock%}
{% block content %}
    <div class="row"> <!-- picture of recipe and details -->
        <div class="col-md-4 cols-12 offset-md-1">
            <h4>{{meet.name}} - Organized by <a href="{% url 'web:myprofile' meet.user %}">{{meet.user}}</a> </h4>
            <h4>What are we making? <a href="{% url 'web:recipe' meet.user meet.recipe%}">{{meet.recipe}}</a> </h4>
            
            <h4>
                Participants: {{meet.participating}} /{{meet.maximumparticipants}}
                {% if meet.participating < meet.maximumparticipants%}
                    <a href="invite" class="btn btn-info" role="button">Invite People</a>
                {% endif %}
            </h4>

            {% for participant in meet.participants.all %}
                {% if participant != request.user%}
                    <h4><a href="/{{participant.username}}/myprofile">{{participant.username}}</a> -
                        {% if request.user in meet.participants.all%}
                        <a href="rate/{{participant.username}}" class="btn btn-info" role="button">Rate for this M-eat</a>
                        {% endif %}
                    </h4>
                {% else %}
                    {% if request.user in meet.participants.all %}
                        <h4><a href="/{{participant.username}}/myprofile">{{participant.username}}</a> -
                            {% if request.user in meet.participants.all%}
                            <a href="rate/{{participant.username}}" class="btn btn-info" role="button">Rate for this M-eat</a>
                            {% endif %}
                        </h4>
                    {% endif %}
                {% endif %}
                
            {% endfor %}
            
            {% if request.user not in meet.participants.all and meet.participating < meet.maximumparticipants%}
                <div class="input-group-append">
                    <a href="join" class="btn btn-info" role="button">Join M-eat</a>
                </div>
            {% endif %}

            {% if not meet.participating < meet.maximumparticipants %}
            <h4> FULL </h4>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 cols-12 offset-md-1">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="color: black;">Meet Description</h4>
                    <p>{{meet.desc}}</p>
                    <p>Who's bringing what?</p>  
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Person</th>
                            <th scope="col">Ingredient</th>
                          </tr>
                        </thead>
                        <tbody style="font-size: 1.1em;">
                            {% for ingredient in ingredients %}
                                <td>
                                    <label for="chooseUser"></label>
                                    <select id="chooseUser" class="form-control" name="chooseUser">
                                        <option selected>Choose a user</option>
                                            {% for user in meet.participants.all %} 
                                        <option value="{{user}}">{{user}}</option>
                                            {% endfor %}
                                    </select>
                                </td>
                                <td> {{ingredient}} {{ingredient.amount}} </td></tr>
                            {% endfor %}
                        </tbody>
                    </table>   
                </div>
            </div>
        </div>
        <div class="col-md-4 cols-12 offset-md-1 " > 
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="color: black;">Details</h4>
                    <p>Date: {{meet.date}}</p>
                    <p>Where? Todo Add this in the form!</p>
                </div>
            </div>
             
        </div>
    </div>
{% endblock %}