{% extends "index.html" %}
{% block title %} {{meet.name}} {% endblock%}
{% block content %}
<div class="card">
    <!-- picture of recipe and details -->
    <div class="col-md-4 cols-12 centered">
        <div class="card-body">
            <h4>
                <class="card-title">{{meet.name}} - Organized by <a
                        href="{% url 'web:myprofile' meet.user %}">{{user.username}}</a>
            </h4>
            <h5>What are we making? <a href="{% url 'web:recipe' meet.user meet.recipe%}">{{meet.recipe}}</a> </h5>
            <h5>Participants: {{meet.participating}} /{{meet.maximumparticipants}}
                {% if meet.participating < meet.maximumparticipants%}
                <a href="invite" class="btn btn-info" role="button">Invite People</a>
                {% endif %}
            </h5>
            {% for participant in meet.participants.all %}
            {% if participant != request.user%}
            <h5><a href="/{{participant.username}}/myprofile">{{participant.username}}</a> -
                {% if request.user in meet.participants.all%}
                <a href="rate/{{participant.username}}" class="btn btn-info" role="button">Rate for this M-eat</a>
                {% endif %}
            </h5>
            {% endif %}
            {% endfor %}
            {% if request.user not in meet.participants.all and meet.participating < meet.maximumparticipants%}
            <div class="input-group-append">
                <a href="join" class="btn btn-info" role="button">Join M-eat</a>
            </div>
            {% endif %}
            {% if not meet.participating < meet.maximumparticipants %}
            <h5> FULL </h5>
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 cols-12 offset-md-1">
        <div class="card">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <h5 class="card-title">Who Brings What?</h5>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Person</th>
                                <th scope="col">Ingredient</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ingredient in ingredients %}
                            <tr>
                                <td>
                                    <label for="chooseUser"></label>
                                    <select id="chooseUser" class="form-control" name="chooseUser">
                                        <option selected>Choose a user</option>
                                        {% for user in meet.participants.all %}
                                        <option value="{{user}}">{{user}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td> {{ingredient}} {{ingredient.amount}} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 cols-12 offset-md-1 ">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Details</h5>
                <img class="card-img-top" {% if meet.recipe.image != ""%} src="{{meet.recipe.image}}" {% else %}
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/488px-No-Image-Placeholder.svg.png"
                    {% endif %} height="400" width="200" alt="...">
                <ul font size="+5" class="list-group list-group-flush">
                    <li>Date: {{meet.date}}</li>
                    <li>Where? {{meet.location}}</li>
                    <h5>Meet Description:</h5>
                    <li>{{meet.desc}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    function clicked(obj) {
        //    document.getElementById("dropdownMenuButton").innerHTML = obj;
    }
</script>
{% endblock %}