{% extends "index.html" %}
{% block title %}Users{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row" >
    <div class="cols-12 align-self-center" style="text-align: center;">
      <h1>Our Users</h1>
    </div>
  </div>
  {% for user in users %}
  <div class="row row-cols-1 row-cols-md-3 g-4 m-3">
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><a href="/{{user.username}}/myprofile">{{user.username}}</a></h5>
          <p class="card-text">Click this and go the user's page.</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}