{% extends "searchUser.html" %}
{% block title %}Users{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <h1>Our Users</h1>
  </div>
  <div class="row" style="display: flex; flex-direction: row; flex-wrap: wrap">
    {% for user in users %}
    <div style="padding: 10px;">
      <figure >
       <img 
        {% if user.profile.profile_photo != ""%}
          src="{{user.profile.profile_photo}}"
        {% else %}
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/488px-No-Image-Placeholder.svg.png"
        {% endif %} 
        class="img-fluid"  alt="Responsive Image" 
        width="307" height="240" /> 
        <figcaption>
          <h4><a href="/{{user.username}}/myprofile">{{user.username}}</a></h4> 
          <p style="color: white;">User rating={{user.profile.get_av_rating}}</p>
        
        </figcaption>
      </figure>
    </div>
    
    {% endfor %}
  </div>
</div>
{% endblock %}