{% extends "index.html" %}
{% block css %}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');  
  h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 60px;
  }
  img {
    border-radius: 70%;
    width: 150px;
  }
  @media (max-width: 767px) {
    img { 
      display: inline-block;
    }
  }
  @media (min-width: 768px){
    img {
    float: right;
    }
  }
  .card{
    background-color: #9DC88D !important;
    margin: 10px;
  }
  .card  button, .btn{
    background-color: white !important;
    color: black !important;
  }
  
  .card li > a {
    background-color: #9DC88D !important;
    
  }
  h4 {color: black;}
  #detailsList > li {
    background-color: #9DC88D;
    color: white;
    font-size: 19px;
  }
</style>
{% endblock %}

{% block title %}{{user.username}} | Cookspot profile{% endblock %}
{% block content %}
<div class="row p-2">
  <div class="col-sm-5 col-md-5 ">
    {% if user.profile.profile_photo %}
      <img src="{{user.profile.profile_photo}}" >
    {% else %}
      here goes image
    {% endif %}
  </div>
  <div class="col-sm-7 col-md-7 align-self-center">
    <h1>|{{user.first_name}} {{user.last_name}}</h1>
      {% if request.user.pk != user.pk %}
        <a href="{% url 'web:addtofav' id=user.id ur='cook'  %}">Add to Fav</a>
      {% endif %}
  </div>
</div>

{% if request.user.pk == user.pk %}
<div class="row py-2">
  <div class="col-sm-12 col-md-4 ">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">Details</h4>
              <!-- Button trigger modal -->
              <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">Edit profile details</button>
          <ul class="list-group list-group-flush" id="detailsList">
            <li class="list-group-item">My username: {{user.username}}</li>
            <li class="list-group-item">My email: {{user.email}}</li>
            <li class="list-group-item">About me: {{user.profile.bio}}</li>
            <li class="list-group-item">Average Rating: {{user.profile.get_av_rating}}</li>
          </ul>
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="POST" action="{% url 'web:editUserDetails' %}">  {% csrf_token %}
                    <div class="form-row">
                      <div class="col">
                        <input type="text" name="firstName" class="form-control" placeholder="First name">
                      </div>
                      <div class="col">
                        <input type="text" name="lastName" class="form-control" placeholder="Last name">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="username" class="col-form-label">Username:</label>
                      <input type="text" name="username" class="form-control" id="username">
                    </div>
                    <div class="form-group">
                      <label for="email" class="col-form-label">Email:</label>
                      <input type="email" name="email" class="form-control" id="email"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="bio" class="col-form-label">Bio</label>
                      <input type="text" name="bio" class="form-control" id="bio"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="image">Add a profile picture!</label>
                      <input type="url" alt="here goes picture" placeholder="Enter the URL of the image" class="form-control" id="image" name="image" pattern="https://.*">
                    </div>
                    <button type="submit" class="btn btn-primary">Add changes</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="col-sm-12 col-md-4 ">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">My recipes</h4>
            </div>
          <ul class="list-group list-group-flush" >
            {% for recipe in user.recipe_set.all %}
              <li class="list-group-item" style="background-color: #9DC88D;"><a href="/{{user.username}}/recipe/{{recipe.name}}" style="color: white !important; font-size: 19px;">{{recipe.name}}</a></li>
            {% endfor %}
          </ul>
          <a href="/{{user.username}}/newrecipe/" class="btn " role="button">Add New Recipe</a>
        </div>
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">My Favourite recipe</h4>
          </div>
          {% for rec in fav_list%}
              {% if rec.recipe %}
              <li class="list-group-item" style="background-color: #9DC88D;">
                  <a href="/{{rec.recipe.user}}/recipe/{{rec.recipe.name}}" style="color: white !important; font-size: 19px;">{{rec.recipe.name}}</a>
                  <a href="{% url 'web:delete_fav' id=rec.id  %}"><i class="fa fa-trash" style="font-size:24px; position: absolute; right: 10px"></i></a>
              </li>
              {% endif %}
          {% endfor %}

      </div>
  </div>

  <div class="col-sm-12 col-md-4 ">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">Meets that you have organized</h4>
            </div>
          {% for meet in user.meets_set.all %}
              <li class="list-group-item" style="background-color: #9DC88D;"><a href="/{{user.username}}/meet/{{meet.name}}" style="color: white !important;font-size: 19px; ">{{meet.name}}</a></li>
            {% endfor %}
          <a href="/{{user.username}}/newmeet/" class="btn " role="button">Create a new meet</a>
        </div>
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">My Favourite Cooks</h4>
          </div>
          {% for rec in fav_list%}
              {% if rec.cookfav %}
              <li class="list-group-item" style="background-color: #9DC88D;"><a href="/{{rec.cookfav}}/myprofile" style="color: white !important; font-size: 19px;">{{rec.cookfav.username}}</a>
              <a href="{% url 'web:delete_fav' id=rec.id  %}"><i class="fa fa-trash" style="font-size:24px; position: absolute; right: 10px"></i></a>
              </li>
              {% endif %}
          {% endfor %}
      </div>
  </div>


  <div class="col-sm-12 col-md-4 ">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">Meets that you have participated in.</h4>
            </div>
          {% for meet in user.participants.all %}
            <li class="list-group-item" style="background-color: #9DC88D;"><a href="/{{meet.user}}/meet/{{meet.name}}" style="color: white !important; font-size: 19px;">{{meet.name}}</a></li>
          {% endfor %}
        </div>
  </div>
  
  <div class="col-sm-12 col-md-4 ">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">Your Invites:</h4>
            </div>
          {% for invite in user.gotteninvites.all %}
              <li class="list-group-item" style="background-color: #9DC88D;"><a href="/{{invite.meet.user}}/meet/{{invite.meet.name}}" style="color: white !important; font-size: 19px;">{{invite}}</a></li>
            {% endfor %}
        </div>
  </div>
{% else %}
<div class="row py-2">
  <div class="col-sm-12 col-md-4 ">
      <div class="card">
          <div class="card-body">
            <h4 class="card-title">Details</h4>
            <ul class="list-group list-group-flush" id="detailsList">
              <li class="list-group-item">Username: {{user.username}}</li>
              <li class="list-group-item">Email: {{user.email}}</li>
              <li class="list-group-item">About {{user.username}}: {{user.profile.bio}}</li>
              <li class="list-group-item">Average Rating: {{user.profile.get_av_rating}}</li>
            </ul>
        </div>
      </div>
  </div>

  <div class="col-sm-12 col-md-4 ">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">Recipes of {{user.username}}</h4>
            </div>
          <ul class="list-group list-group-flush">
            {% for recipe in user.recipe_set.all %}
              <li class="list-group-item"><a href="/{{user.username}}/recipe/{{recipe.name}}">{{recipe.name}}</a></li>
            {% endfor %}
          </ul>
        </div>
  </div>

  <div class="col-sm-12 col-md-4 ">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">Meets of {{user.username}}</h4>
          </div>
          {% for meet in user.meets_set.all %}
            <li class="list-group-item"><a href="/{{user.username}}/meet/{{meet.name}}">{{meet.name}}</a></li>
          {% endfor %}
      </div>
  </div>
</div>
{% endif %}


{% endblock %}